<header class="jumbotron subhead" id="overview">
	<div class="row">
		<div class="span6">
			<h1>Widget AngularJS</h1>
			<p class="lead">Credits</p>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<a href="http://www.highcharts.com">Highcharts JS</a>
		</div>
		<div class="span8">
			<img src="img/wo.png"/>
		</div>
		<div class="span12 separator"></div>
		<div class="span3">
			<a href="http://bootswatch.com/united/">Bootwatch United Theme</a>
		</div>
		<div class="span8">
			<img src="img/united.png" width="200" height="200"/>
		</div>
		<div class="span12 separator"></div>
		<div class="span3">
			<a href="http://hpneo.github.io/gmaps/">gmaps.js</a>
		</div>
		<div class="span8">
			<img src="img/gmaps.png"/>
		</div>
	</div>
</header>