<header class="jumbotron subhead" id="overview">
	<div class="row">
		<div class="span6">
			<h1>Widget AngularJS</h1>
			<p class="lead">Widget Project using AngularJS.</p>
		</div>
		<div class="span6">Each tab will load its widgets when clicked. Not before.</div>
	</div>
	<div class="subnav">
		<tabs> 
			<pane heading="Weather Measure Widgets">
				<section id="weatherMeasure">

					<!-- directive data-widget tell us that the div element is a widget -->
					<!-- data-widget attribute will tell us which kind of widget is and it configuration -->
					<!-- data-widget-object show where to make a request looking for data -->
					<!-- data-widget-name will tell us the name of the div created to act as widget content -->
					<!-- data-widget-title will tell us the title of the widget -->
					<!-- data-widget-pane will tell us the containing tab of the widget -->
					<!-- data-widget-template will tell us if the widget content is based on a template -->
					<!-- ngController is used for each widget because in that way each widget have its own $scope -->
					<!-- The following will be a Line Chart Widget that will make a request to /weather/2012 and takes its HTML from the template widgetContent.html-->
					<div data-ng-controller="WidgetController" 
						data-widget='{"class":"chart", "type":"line", "config":"commonPlot"}'
						data-widget-object='{"url":"weather", "param":"2012"}' 
						data-widget-title="Weather Measure for year 2012 (Widget obtained by templating!)"
						data-widget-template="widgetContent.html"
						data-widget-name="lineChartExample" data-widget-pane="0">
					</div>
		
					<!-- This widget defines its own HTML -->
					<div data-ng-controller="WidgetController" 
						data-widget='{"class":"chart", "type":"area", "config":"commonPlot"}'
						data-widget-object='{"url":"weather", "param":"2013/5"}' 
						data-widget-title="Weather Measure for June 2013"
						data-widget-name="areachartExample"  data-widget-pane="0">
						<div class="accordion">
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse">
										{{title}} </a>
								</div>
								<div id="collapse" class="accordion-body collapse in widgetWrapper">
									<div class="accordion-inner" id="widgetContent"></div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</pane> 
			
			<pane heading="Mobile Widgets">
				<section id="mobileMeasures">
					<div data-ng-controller="WidgetController" 
						data-widget='{"class":"grid", "config":"mobileGrid"}'
						data-widget-object='{"url":"mobile", "param":""}' 
						data-widget-title="List of Mobile OS as Feb 2013"
						data-widget-template="widgetContent.html"
						data-widget-name="mobileGridExample"  data-widget-pane="1">
					</div>
					
					<div data-ng-controller="WidgetController" 
						data-widget='{"class":"chart", "type":"line", "config":"commonPlot"}'
						data-widget-object='{"url":"mobile", "param":""}' 
						data-widget-title="Mobile OS Market Share during 2013"
						data-widget-template="widgetContent.html"
						data-widget-name="mobileChartExample"  data-widget-pane="1">
					</div>
				</section>
			</pane>
			
			<pane heading="Other Widgets">
					<div data-ng-controller="WidgetController"
						data-widget-template="widgetContent.html" 
						data-widget='{"class":"map", "type":"geolocation"}'
						data-widget-object='{"url":"mobile", "param":""}' 
						data-widget-title="Google Maps Example"
						data-widget-name="mapsExample"  data-widget-pane="2">
					</div>
			</pane>
		</tabs>
	</div>
</header>

